//
//  GoogleBooksApp.xcconfig
//  GoogleBooksApp
//
//  Created by Artur Chernov on 08/04/2018.
//  Copyright © 2018 Artur Chernov. All rights reserved.
//

SCHEME=https
SERVER=www.googleapis.com
API_PATH=books
API_VERSION=v1
CONSUMER_KEY=1077218922545-08l6q1g0gnj4d5ndbk5j130m0ats17h1.apps.googleusercontent.com
CONSUMER_SECRET=
OAUTH_CALLBACK_URL=com.googleusercontent.apps.1077218922545-08l6q1g0gnj4d5ndbk5j130m0ats17h1:/oauth
OAUTH_CALLBACK_URL_SCHEME=com.googleusercontent.apps.1077218922545-08l6q1g0gnj4d5ndbk5j130m0ats17h1
